---
import Base from '../layouts/Base.astro';
---
<Base description="Here is a list of all the plants we have placed around the house. Hopefully we can use all this information to keep most of these plants alive">
    <section class="h-screen w-full flex items-center justify-center p-1">
        <h1 class="text-xl lg:text-6xl text-center font-black">
            Site Under Construction
        </h1>
    </section>
</Base>
